@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables de color */
:root {
    --color-fondo: #1b1b1b;
    --blanco: #f5f5f5;
    --color-acento: #f1c40f;
    --color-borde: #333;
    --color-hover: #f1c40f;
    --negro: #272727;
}

/* Estilos de la navegación */
.navbar-services {
    background-color: var(--blanco);    
    height: 60px;
    
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-menu-services {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacia el logo y el menú */
    width: 100%; /* Hace que el contenedor ocupe todo el ancho */
    max-width: 1200px; /* Opcional: limita el ancho máximo */
}

.nav-links-services {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-links-services a {
    color: var(--negro);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color .10s ease; /* Agrega transiciones */
}

li {
    position: relative;
  }
  
li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--blanco);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
  
li:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* Estilo general del footer */
.footer {
    background-color: var(--color-fondo);
    color: var(--blanco);
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 500px;
    text-align: center;
}

.footer-section h3, .footer-section h4 {
    color: var(--color-acento);
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 0.9rem;
    margin: 5px 0;
    color: var(--color-texto);
}

.footer-nav a {
    display: block;
    color: var(--color-texto);
    margin: 5px 0;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.5s;
}

.footer-nav a:hover {
    color: var(--color-hover);
}

.social-media a {
    margin: 0 8px;
    display: inline-block;
    transition: transform 0.3s, opacity 0.3s;
}

.social-media a img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    border-radius: 50%;
    padding: 5px;
}

.social-media a:hover img {
    transform: scale(1.5);
}

/* Sección inferior del footer */
.footer-bottom {
    border-top: 1px solid var(--color-borde);
    padding-top: 15px;
    font-size: 0.85rem;
    color: var(--color-texto);
    text-align: center;
    margin-top: 20px;
}

/* Contenedor principal a pantalla completa */
.service-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Altura completa de la pantalla */
    color: #333; 
    gap: 20px;
    padding: 0 150px; /* Espacio lateral para separación */
}

/* Contenido del servicio a la izquierda */
.service-content {
    flex: 1;
    padding-right: 40px;
}

.service-content h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

.service-content p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.service-content ul {
    list-style: none;
    padding: 0;
}

.service-content ul li {
    font-size: 18px;
    color: #333;
    position: relative;
    margin-bottom: 20px; /* Espacio entre los elementos */
    padding-left: 30px; /* Espacio para el nuevo marcador */
    transition: background-color 0.3s ease; /* Efecto de cambio de color */
}

/* Marcador personalizado */
.service-content ul li::before {
    content: '';
    position: absolute;
    left: 0; 
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajustar el alineamiento */
    width: 10px; /* Ancho del marcador */
    height: 10px; /* Alto del marcador */
    border-radius: 50%; /* Hacerlo redondo */
    background-color: var(--color-borde); /* Color del marcador */
}

/* Efecto de hover en los elementos de la lista */
.service-content ul li:hover {
    background-color: rgba(56, 63, 68, 0.1); /* Fondo suave al pasar el ratón */
}

/* Imagen del servicio a la derecha con ajuste */
.service-image {
    flex: 1;
    height: 80vh; /* Ajusta la altura para que no ocupe toda la pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover; /* Asegura que la imagen se adapte al contenedor */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.service-image img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

@media (max-width: 480px) {
    /* Ajustes generales */
    body {
        padding-top: 0; /* Ajuste de espacio superior para pequeños dispositivos */
    }

    /* Navegación */
    .navbar-services {
        height: 50px; /* Reduce la altura de la barra de navegación */
    }

    .container-menu-services {
        flex-direction: column; /* Cambia a columna para mejor organización */
        align-items: flex-start; /* Alinea el contenido a la izquierda */
    }

    .nav-links-services {
        flex-direction: column; /* Hace que los enlaces se apilen verticalmente */
        gap: 10px; /* Menor espacio entre enlaces */
        padding-left: 0; /* Elimina el padding a la izquierda */
    }

    .nav-links-services a {
        font-size: 14px; /* Reducir tamaño de fuente para pantallas pequeñas */
        font-weight: normal; /* Menos énfasis en los enlaces */
    }

    /* Footer */
    .footer {
        padding: 30px 10px; /* Menos espacio en el footer */
    }

    .footer-container {
        flex-direction: column; /* Cambia la dirección de las secciones a columna */
        align-items: center; /* Centra los elementos en el footer */
    }

    .footer-section {
        min-width: 100%; /* Hace que las secciones ocupen todo el ancho */
        text-align: center; /* Centra el texto */
    }

    .footer-section h3, .footer-section h4 {
        font-size: 18px; /* Reducir tamaño de los encabezados */
    }

    .contact-info p {
        font-size: 0.8rem; /* Reduce el tamaño de texto */
    }

    .footer-nav a {
        font-size: 0.8rem; /* Ajusta tamaño de fuente */
    }

    /* Social media icons */
    .social-media a img {
        width: 40px; /* Reduce el tamaño de los íconos sociales */
        height: 40px; 
    }

    .footer-bottom {
        font-size: 0.75rem; /* Reduce el tamaño de fuente */
        margin-top: 15px; /* Menor margen superior */
    }

    /* Sección de servicio a pantalla completa */
    .service-fullscreen {
        flex-direction: column; /* Apilar los elementos verticalmente */
        padding: 0px 20px; /* Menos espacio lateral */
        height: auto;
    }

    .service-content {
        flex: none; /* El contenido no debe ocupar todo el ancho */
        padding-right: 0; /* Elimina el espacio extra a la derecha */
        margin-bottom: 20px; /* Agrega espacio inferior */
        margin-top: 20px;
    }

    .service-content h3 {
        font-size: 24px; /* Reduce el tamaño del título */
    }

    .service-content p {
        font-size: 16px; /* Reduce el tamaño de texto */
    }

    .service-content ul li {
        font-size: 16px; /* Ajusta tamaño de texto de la lista */
        margin-bottom: 15px; /* Menor espacio entre elementos */
        padding-left: 25px; /* Ajusta el espacio del marcador */
    }

    .service-image {
        flex: none; /* Evita que la imagen ocupe todo el espacio */
        height: auto; /* Ajusta la altura de la imagen para móviles */
        margin-bottom: 20px; /* Espacio debajo de la imagen */
    }

    .service-image img {
        width: 100%; /* Asegura que la imagen se ajuste al ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }
}
