@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* VARIABLES */
:root{
    --azul: #3498db;
    --amarillo: #f1c40f;
    --blanco: #f9f9f9;
    --negro: #272727;
    --gris: #333;
}

/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--blanco);
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.progress-bar {
    height: 5px;
    background: var(--amarillo);
    width: 0%;   
}

/* Estilos de la navegación */
.navbar {
    background-color: var(--negro);    
    height: 60px;
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor de la barra de progreso */
.progress-container {
    width: 100%; /* Ocupa todo el ancho */
    position: absolute; 
    top: 0; /* Posiciona la barra de progreso en la parte superior */
    left: 0;
}

/* Barra de progreso */
.progress-bar {
    height: 5px;
    background: var(--amarillo);
    width: 0%;   
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacia el logo y el menú */
    width: 100%; /* Hace que el contenedor ocupe todo el ancho */
    max-width: 1200px; /* Opcional: limita el ancho máximo */
}

.logo img {
    max-height: 45px; /* Ajusta la altura del logo para que esté centrado */
    width: auto; /* Mantiene la proporción del logo */
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-links a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color .10s ease; /* Agrega transiciones */
}

li {
    position: relative;
  }
  
li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--blanco);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
  
li:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* Hero Section */
.hero {
    height: 100vh;
    background-color: var(--negro);
    color: var(--blanco);
    display: flex;    
    align-items: center;
    justify-content: center;
}

.animated-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "";
    color: var(--amarillo);
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: var(--negro);
    border-left: 2px solid var(--amarillo);
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid var(--negro);
    }
}

@keyframes words {
    0%,25%{
        content: "ELÉCTRICAS";
    }
    26%,50%{
        content: "TECNOLÓGICAS";
    }
    51%,100%{
        content: "ENERGÉTICAS";
    }

}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

.hero-super {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    height: 100%;
}

span{
    color: var(--amarillo);
}

.hero-content {
    flex: 1; 
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-right: 500px;    
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
    margin-right: 500px;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-primary {
    background-color: var(--azul);
    color: var(--blanco);
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.btn-primary:hover {
    background-color: var(--blanco);
    color: var(--azul);
    border-color: var(--azul);
    box-shadow: 0 5px 5px 0 #000000,0 5px 5px 0 #000000;
    transform: translate(5px,0px);
    -webkit-transform: translate(5px,0px);
    -moz-transform:translate(5px,0px);
}

.btn-secondary {
    background-color: var(--amarillo);
    color: var(--blanco);
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.btn-secondary:hover {
    background-color: var(--blanco);
    color: var(--amarillo);
    border-color: var(--amarillo);
    box-shadow: 0 5px 5px 0 var(--negro),0 5px 5px 0 var(--negro);
    transform: translate(5px,0px);
    -webkit-transform: translate(5px,0px);
    -moz-transform:translate(5px,0px);
}

.pentagon-wrapper {
    flex: 2; 
    position: absolute;
    top: 0;
    right: 0;
    width: 43%;
    height: 100vh;
    overflow: hidden;
}
  
.pentagon-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}  

/* Sección Nosotros */
.about {
    height: 100vh;
    padding: 100px 0; /* Ajustes para pantallas pequeñas */
    display: flex;
    align-items: center; /* Centra horizontalmente */
    background-color: var(--blanco);
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */    
}

.about-logo{
    width: 100%;
}

.about-text {
    flex: 2;
    padding: 20px; /* Ajustes para pantallas pequeñas */
}

.about-text .btn {
    margin-top: 30px; 
}

.about-text h2 {
    font-size: 38px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.about-text p {
    line-height: 1.5;
    font-size: 22px;
}

/* Sección de Servicios */
.services {
    height: 100vh;
    padding: 20px 20px;
    background-color: var(--negro);
    text-align: center;
    position: center;

    display: flex;    
    align-items: center;
    justify-content: center;
}

.services h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 5%;
    position: relative;
    font-size: 36px;
    color: var(--blanco);
}

.services h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 100px;
    height: 5px;
    background: var(--amarillo);
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajuste automático */
    grid-gap: 20px;
}

.service-item {
    padding: 25px 10px;
    text-align: center;
    border-radius: 5px;
    transition: transform .5s ease-in-out;
    cursor: pointer;
}

.service-item:hover {
    transform: scale(1.1);
    background: var(--gris);
}

.service-item h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--blanco);
}

.service-item p {
    color: var(--blanco);
}

.service-item img {
    max-width: 40px; 
    display: block;
    margin: 0 auto 20px;
}

/* Responsive ajustes */
@media (max-width: 1024px) {
    .service-items {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .service-items {
        grid-template-columns: 1fr; 
    }

    .about-text {
        padding: 20px; /* Ajustes para pantallas pequeñas */
        text-align: center; /* Centra el texto */
    }
}

/* Contenedor de botones sociales */
.social-buttons {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
}

/* Contenedor de íconos en una sola fila */
.icons-row {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

/* Estilo para cada botón social */
.social-button img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    border-radius: 50%;
    padding: 5px;
}

/* Efecto hover para los íconos */
.social-button:hover img {
    transform: scale(1.5);
}

/* Contenedor del bloque de texto */
.contact-info {
    text-align: left;
    margin-top: 10px;
}

/* Estilos de texto */
.contact-info h3 {
    font-size: 18px;
    margin: 0;
    color: var(--negro);
}

.contact-info p {
    font-size: 18px;
    margin: 5px 0;
    color: var(--negro);
}

.slideshow {
    display: flex;
    height: 100vh;
    position: relative;
    max-width: 100%;
    margin: auto;
    padding: 50px 20px;
    text-align: Left;
    background-color: var(--blanco);    
}

.slideshow-container {
    flex: 1;
    position: relative;
    max-width: 600px; 
    margin: auto;
}

.mySlides {
    display: none; 
    font-size: 24px;
    color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.dot:hover {
    background-color: var(--amarillo); 
}

.active {
    background-color: var(--amarillo); 
}

.contact-form-container {
    flex: 2;
    background-color: var(--negro); 
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: var(--blanco);
}

.contact-form-container h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
}

.contact-form-container label {
    margin: 10px 0 5px;
    font-weight: bold;
    text-align: left;
}

.contact-form-container input,
.contact-form-container textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 1px;
    font-size: 16px;
    width: 100%;
}

.contact-form-container button {
    background-color: var(--azul);
    color: var(--blanco);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form-container button:hover {
    background-color: var(--blanco);
}

.privacy-policy {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--blanco); 
}

.privacy-policy a {
    color: var(--blanco);
}

.privacy-policy a:hover {
    color: #bbbbbb98;
}

/* Footer */
.pie {
    background-color: var(--blanco);
    color: var(--negro);
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .service-grid {
        grid-template-columns: 1fr; /* Cambia a una columna */
    }

    .about-content {
        flex-direction: column; /* Cambia a columna */
    }
}

/* Animaciones*/

@-webkit-keyframes fadeIn {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

@keyframes fadeIn {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

.fadeIn {
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}

.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}

@keyframes fadeInLeft {
from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
}

.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

/* Ocultar secciones inicialmente */
.hidden {
    opacity: 0;
    visibility: hidden;
}